body {
  background-color: lightblue;
}

h1 {
  color: black;
  text-align: center;
}
button {
  width: 158px;
  height: 55px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  color: black;
  font-size: small;
  border-radius: 8px;
  border: none;
  background-color: #2563eb;
  color: white;
  font-size: 18px;
  padding: 16px 24px;
  text-align: center;
    transition: font-size 1s ease-out 0.25s;
    transition: transform .3s ease-in-out;
  }
  
  button:hover {
    font-size: x-large;
    cursor: pointer;
    transform: scale(1.2)
  }